<app-navbar></app-navbar>

<div class="container mt-5" >
    <main>
        <section id="about-us">
            <h1>About Us</h1>
            <p>At <span style="font-weight: bold;">STOREZONE</span>, we believe that everyone should have access to quality products at affordable prices. We strive to provide our customers with a wide selection of products, ranging from electronics to fashion and everything in between.</p>
            <p>Our team is dedicated to ensuring that every customer has a positive experience when shopping with us. If you have any questions or concerns, please don't hesitate to contact us.</p>
            <p>Thank you for choosing My Ecommerce Store for all of your online shopping needs.</p>
        </section>
    </main>
</div>
